#### Python Pandas has been used to combine all the excel files into one single dataframe.
#### Some preprocessing steps will also be done via python only

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import glob # To concatenate all the csv files and create a single dataframe

In [3]:
folder_path = r"Y:\Data\Data Analytics by Google Capstone\Cyclistic Data\CSV Files"
csv_files = glob.glob(folder_path + r"/*.csv" )  # Returns a list

In [4]:
type(csv_files)

list

In [5]:
df_list = (pd.read_csv(file) for file in csv_files)

In [6]:
df =pd.concat( df_list,ignore_index=True)

In [7]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,954144C2F67B1932,classic_bike,2022-07-05 08:12:47,2022-07-05 08:24:32,Ashland Ave & Blackhawk St,13224,Kingsbury St & Kinzie St,KA1503000043,41.907066,-87.667252,41.889177,-87.638506,member
1,292E027607D218B6,classic_bike,2022-07-26 12:53:38,2022-07-26 12:55:31,Buckingham Fountain (Temp),15541,Michigan Ave & 8th St,623,41.869621,-87.623981,41.872773,-87.623981,casual
2,57765852588AD6E0,classic_bike,2022-07-03 13:58:49,2022-07-03 14:06:32,Buckingham Fountain (Temp),15541,Michigan Ave & 8th St,623,41.869621,-87.623981,41.872773,-87.623981,casual
3,B5B6BE44314590E6,classic_bike,2022-07-31 17:44:21,2022-07-31 18:42:50,Buckingham Fountain (Temp),15541,Woodlawn Ave & 55th St,TA1307000164,41.869621,-87.623981,41.795264,-87.596471,casual
4,A4C331F2A00E79E0,classic_bike,2022-07-13 19:49:06,2022-07-13 20:15:24,Wabash Ave & Grand Ave,TA1307000117,Sheffield Ave & Wellington Ave,TA1307000052,41.891466,-87.626761,41.936253,-87.652662,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5779439,D7BBF4BCBB72DA32,classic_bike,30-06-2023 12:58,30-06-2023 13:41,Fairbanks Ct & Grand Ave,TA1305000003,California Ave & Milwaukee Ave,13084,41.891847,-87.620580,41.922695,-87.697153,casual
5779440,9A1685F9A39646CA,electric_bike,29-06-2023 19:56,29-06-2023 20:09,Fairbanks Ct & Grand Ave,TA1305000003,NaN,NaN,41.891970,-87.620198,41.890000,-87.610000,casual
5779441,CD4CC5A60881C7AF,electric_bike,25-06-2023 00:27,25-06-2023 00:39,Clark St & Lincoln Ave,13179,NaN,NaN,41.915745,-87.634604,41.920000,-87.650000,casual
5779442,FF6594685CFE2056,electric_bike,24-06-2023 21:26,24-06-2023 21:28,Fairbanks Ct & Grand Ave,TA1305000003,NaN,NaN,41.891725,-87.620607,41.890000,-87.620000,casual
5779443,66EF9F3C318208B9,classic_bike,24-06-2023 21:30,25-06-2023 22:30,Fairbanks Ct & Grand Ave,TA1305000003,NaN,NaN,41.891847,-87.620580,NaN,NaN,casual

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5779444 entries, 0 to 5779443
Data columns (total 13 columns):
 #   Column              Dtype
---  ------              -----
 0   ride_id             object
 1   rideable_type       object
 2   started_at          object
 3   ended_at            object
 4   start_station_name  object
 5   start_station_id    object
 6   end_station_name    object
 7   end_station_id      object
 8   start_lat           float64
 9   start_lng           float64
 10  end_lat             float64
 11  end_lng             float64
 12  member_casual       object
dtypes: float64(4), object(9)
memory usage: 573.2+ MB

Dropping the ride_id as it will not be of any help for visualizations

In [9]:
df.drop('ride_id', inplace=True, axis=1)

In [10]:
df.isnull().sum()

rideable_type              0
started_at                 0
ended_at                   0
start_station_name    857860
start_station_id      857992
end_station_name      915655
end_station_id        915796
start_lat                  0
start_lng                  0
end_lat                 5795
end_lng                 5795
member_casual              0
dtype: int64

There are a lot of null values in the following features-
- start_station_name    857860
- start_station_id      857992
- end_station_name      915655
- end_station_id        915796

As can be seen, there are observations where start_station_name is not null but start_station_id is null.

There are observations in the dataset where the same start_station names appear and there are station_id values present agaisnt it. 

Thus the null values can be replaced by those station ids

In [11]:
# Creating a function for the purpose
def names_to_id(id,naam):
    # Unique value of start staion names where station names exist but station ids do not
    name_replacements = df[(naam.notnull() ) & (id.isnull())][naam.name].unique() # naam.name to get the name of the column as id represents the entire series
    names_id = df[(naam.isin(name_replacements)) & id.notnull()][[id.name,naam.name]].drop_duplicates()
    names_id_dict = dict(zip(names_id[id.name],names_id[naam.name]))
    #print(names_id_dict)
    return df[naam.name].map(names_id_dict).fillna(df[id.name])

In [12]:
df['start_station_id']= names_to_id(df['start_station_id'],df['start_station_name'])

In [13]:
df['end_station_id']= names_to_id(df['end_station_id'],df['end_station_name'])

In [20]:
df.isnull().sum()

rideable_type              0
started_at                 0
ended_at                   0
start_station_name    857860
start_station_id      857992
end_station_name      915655
end_station_id        915796
start_lat                  0
start_lng                  0
end_lat                 5795
end_lng                 5795
member_casual              0
dtype: int64

Now there are as many null values against the start_station_id as are against start_station_name

Performing similar opertaion for end stations as well

In [26]:
df.isnull().sum()

rideable_type              0
started_at                 0
ended_at                   0
start_station_name    857860
start_station_id      857992
end_station_name      915655
end_station_id        915796
start_lat                  0
start_lng                  0
end_lat                 5795
end_lng                 5795
member_casual              0
dtype: int64

Again there are as many null values against the end_station_id as are against end_station_name

Trying to impute the null values by checking if latitude and longitude values corresponding to certain observations are same, then their station_id and station_name (both start and end) will also be same.

In [27]:
df[df['start_station_name'].isnull()]

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
1719,electric_bike,2022-07-04 15:04:26,2022-07-04 15:32:38,NaN,NaN,Ashland Ave & Blackhawk St,13224,41.95,-87.64,41.907066,-87.667252,member
1720,electric_bike,2022-07-12 14:43:51,2022-07-12 14:49:28,NaN,NaN,Cornell Ave & Hyde Park Blvd,KA1503000007,41.80,-87.59,41.802406,-87.586924,member
1721,electric_bike,2022-07-10 11:37:27,2022-07-10 11:40:03,NaN,NaN,Cornell Ave & Hyde Park Blvd,KA1503000007,41.80,-87.59,41.802406,-87.586924,member
2988,electric_bike,2022-07-23 07:41:53,2022-07-23 08:02:14,NaN,NaN,Brandon Ave & 91st St,847,41.74,-87.55,41.730000,-87.550000,member
2989,electric_bike,2022-07-30 07:26:54,2022-07-30 07:30:36,NaN,NaN,Public Rack - Chase Ave & Touhy Ave - NE,482,42.02,-87.69,42.010000,-87.690000,member
...,...,...,...,...,...,...,...,...,...,...,...,...
5774141,electric_bike,19-06-2023 21:55,19-06-2023 22:10,NaN,NaN,NaN,NaN,41.97,-87.65,41.940000,-87.660000,casual
5774150,electric_bike,08-06-2023 00:02,08-06-2023 00:12,NaN,NaN,NaN,NaN,41.93,-87.69,41.930000,-87.710000,casual
5774151,electric_bike,07-06-2023 20:35,07-06-2023 20:59,NaN,NaN,NaN,NaN,41.85,-87.61,41.880000,-87.650000,casual
5774152,electric_bike,08-06-2023 17:22,08-06-2023 17:27,NaN,NaN,NaN,NaN,41.94,-87.67,41.940000,-87.650000,casual
5774153,electric_bike,13-06-2023 11:05,13-06-2023 11:07,NaN,NaN,NaN,NaN,41.89,-87.63,41.890000,-87.630000,casual

In [28]:
df[(df['end_lat']== 41.95) & (df['end_lng']== -87.64) & (df['end_station_id'].notnull())]

Empty DataFrame
Columns: [rideable_type, started_at, ended_at, start_station_name, start_station_id, end_station_name, end_station_id, start_lat, start_lng, end_lat, end_lng, member_casual]
Index: []

As can be seen, there are no such observations where latitude and longitude values are same and corresponding station id and station names are not null

Thus this method of imputation cannot be implemented

We can impute by using mode- but this will create a bias as there are a lot of null values and imputing all of those by a single value will create a bias

In [29]:
df['start_station_name'].mode().values[0]

'Streeter Dr & Grand Ave'

Trying to impute by choosing values randomly

In [30]:
# Function for random imputation
def random_imputation(x): # x is the dataframe column containing null values
    null_num = x.isnull().sum() # No. of null values
    random_values = x.dropna().sample(null_num,random_state=4) # Creating a series that contains values taken randomly from start_station_id of the df
    # print(random_values)
    random_values.index = df[x.isnull()].index # Assigning the same indices to this series containing random values as are the indices of null values in the column of df
    return x.fillna(random_values)

In [31]:
df['start_station_id'] = random_imputation(df['start_station_id']) # The null values of the start_station_id of the dataframe are replaced by the values of newly created df

In [32]:
df['end_station_id'] = random_imputation(df['end_station_id']) # The null values of the end_station_id of the dataframe are replaced by the values of newly created df

In [33]:
df.isnull().sum()

rideable_type              0
started_at                 0
ended_at                   0
start_station_name    857860
start_station_id           0
end_station_name      915655
end_station_id             0
start_lat                  0
start_lng                  0
end_lat                 5795
end_lng                 5795
member_casual              0
dtype: int64

Imputing station_names(start and end) by checking values of station_id(start and end)

In [34]:
# Creating a function for the purpose
def id_to_names(id,naam):
    #print(id.name)
    id_replacements = df[(id.notnull()) & (naam.isnull())][id.name].unique() # id.name to get the name of the column as id represents the entire series
    id_names = df[(id.isin(id_replacements)) & naam.notnull()][[id.name,naam.name]].drop_duplicates()
    #print(id_names)
    id_names_dict = dict(zip(id_names[id.name],id_names[naam.name]))
    return df[id.name].map(id_names_dict).fillna(df[naam.name])

In [35]:
df['start_station_name'] = id_to_names(df['start_station_id'], df['start_station_name'])

In [36]:
df['end_station_name'] = id_to_names(df['end_station_id'], df['end_station_name'])

In [37]:
df.isnull().sum()

rideable_type            0
started_at               0
ended_at                 0
start_station_name       0
start_station_id         0
end_station_name         0
end_station_id           0
start_lat                0
start_lng                0
end_lat               5795
end_lng               5795
member_casual            0
dtype: int64

In [42]:
df.isnull().sum()

rideable_type            0
started_at               0
ended_at                 0
start_station_name       0
start_station_id         0
end_station_name         0
end_station_id           0
start_lat                0
start_lng                0
end_lat               5795
end_lng               5795
member_casual            0
dtype: int64

Now only end_lat and end_lang values have null values in them

In [43]:
null_lat_long = df[(df['end_lat'].isnull()) & (df['end_lng'].isnull())]['end_station_id'].unique()
len(null_lat_long)

591

In [44]:
station_to_lat_lng = df[df['end_station_id'].isin(null_lat_long) & df['end_lat'].notnull()][['end_station_id','end_lat', 'end_lng']].drop_duplicates()
station_to_lat_lng

        end_station_id    end_lat    end_lng
0         KA1503000043  41.889177 -87.638506
1                  623  41.872773 -87.623981
3         TA1307000164  41.795264 -87.596471
4         TA1307000052  41.936253 -87.652662
5               WL-008  41.867118 -87.641088
...                ...        ...        ...
5779240          13258  41.960000 -87.770000
5779252          18067  41.910000 -87.740000
5779282          13271  41.900000 -87.710000
5779370   TA1305000030  41.780000 -87.690000
5779437   KA1503000033  41.940000 -87.680000

[137778 rows x 3 columns]

In [45]:
lat_lng_dict = dict(zip(station_to_lat_lng['end_station_id'],zip(station_to_lat_lng['end_lat'],station_to_lat_lng['end_lng'])))
#lattitude and longitude have been zipped together and the tuple thus created is the value for end station id which acts as a key
print(lat_lng_dict)

{'KA1503000043': (41.82, -87.63), '623': (41.9, -87.61), 'TA1307000164': (41.83, -87.64), 'TA1307000052': (41.75, -87.65), 'WL-008': (41.94, -87.78), 'TA1307000128': (41.94, -87.74), 'TA1305000022': (41.74, -87.73), '15529': (41.8, -87.72), 'KA150400009X': (41.97, -87.71), '13081': (41.86, -87.61), 'TA1307000039': (42.0, -87.82), 'TA1305000001': (41.82, -87.6), '620': (41.86, -87.69), 'TA1306000010': (41.68, -87.64), '13022': (41.75, -87.74), 'LF-005': (41.98, -87.84), '15544': (41.95, -87.81), '13263': (41.74, -87.71), '632': (42.07, -87.69), 'TA1307000161': (41.95, -87.74), '13059': (41.81, -87.68), 'KA1503000074': (41.82, -87.62), '13063': (41.88, -87.72), 'Hubbard Bike-checking (LBS-WH-TEST)': (41.91, -87.68), '13257': (41.78, -87.76), '13294': (41.84, -87.66), 'KA1503000007': (41.85, -87.69), '13224': (42.05, -87.69), 'TA1307000115': (41.86, -87.64), '661': (41.9, -87.69), 'KA1504000134': (41.73, -87.74), '13074': (41.7, -87.66), '17660': (41.92, -87.77), '13194': (41.98, -87.71), '13300': (41.91, -87.79), '331': (41.89, -87.76), 'TA1306000029': (41.76, -87.68), '13080': (41.85, -87.61), '13235': (41.75, -87.56), 'TA1305000039': (41.95, -87.77), '13006': (41.7, -87.71), 'SL-005': (41.79, -87.73), '13075': (41.98, -87.72), 'TA1308000050': (41.76, -87.68), '15667': (41.89, -87.67), 'TA1308000045': (41.85, -87.69), 'TA1307000127': (41.81, -87.72), 'TA1305000002': (41.76, -87.6), 'KA1504000093': (42.01, -87.71), '13028': (41.74, -87.55), '15571': (41.94, -87.72), 'KA1504000128': (41.77, -87.57), '13109': (41.83, -87.65), '13247': (41.83, -87.6), '13409': (42.05, -87.71), '15541': (41.97, -87.73), '13155': (41.99, -87.7), '13029': (41.71, -87.67), 'TA1306000013': (41.78, -87.77), 'TA1309000007': (41.87, -87.73), 'KA1503000022': (41.93, -87.78), 'WL-011': (41.97, -87.71), 'KA1504000139': (41.99, -87.69), 'TA1307000149': (41.76, -87.74), '15632': (41.8, -87.58), '13073': (41.99, -87.7), '15539': (41.79, -87.79), '15643': (42.0, -87.69), 'TA1307000159': (41.78, -87.74), 'TA1305000034': (42.01, -87.71), '13296': (41.9, -87.71), 'TA1306000016': (41.96, -87.77), '13319': (42.06, -87.72), '13266': (41.88, -87.7), '18062': (41.94, -87.77), 'TA1307000124': (41.97, -87.73), 'TA1305000020': (41.9, -87.75), 'TA1309000029': (41.86, -87.61), '660': (41.96, -87.69), 'KA1503000005': (41.81, -87.6), '13276': (41.76, -87.74), 'SL-010': (41.81, -87.72), 'TA1306000015': (41.91, -87.73), 'TA1307000038': (41.85, -87.69), 'KA1503000038': (42.01, -87.7), '13354': (41.8, -87.74), 'TA1307000163': (41.75, -87.55), 'TA1306000012': (41.75, -87.61), 'TA1305000029': (41.98, -87.73), '15651': (41.78, -87.69), 'TA1305000010': (41.73, -87.64), '13157': (41.7, -87.66), 'TA1305000041': (42.07, -87.7), 'TA1307000111': (41.97, -87.63), 'KA1504000175': (41.8, -87.75), 'RP-001': (41.82, -87.6), '596': (41.95, -87.78), '15550': (41.73, -87.63), 'TA1309000010': (42.0, -87.65), '13307': (41.82, -87.6), '13430': (41.75, -87.73), 'TA1305000004': (41.89, -87.73), 'TA1309000067': (41.86, -87.68), 'TA1307000136': (41.99, -87.78), '13427': (41.74, -87.59), '13278': (41.79, -87.78), 'TA1308000036': (41.79, -87.58), 'TA1309000032': (42.04, -87.68), '514': (41.98, -87.65), 'TA1309000037': (41.97, -87.78), 'SL-008': (41.93, -87.75), '13133': (41.97, -87.72), 'TA1309000035': (41.83, -87.67), 'TA1305000014': (41.72, -87.69), '351': (41.94, -87.71), '13277': (42.07, -87.68), '657': (41.81, -87.68), '16920': (41.85, -87.72), 'TA1306000026': (41.77, -87.63), 'TA1308000019': (41.91, -87.78), '13050': (41.79, -87.79), '13156': (41.74, -87.58), 'KA1504000079': (42.0, -87.71), '15621': (41.94, -87.72), 'TA1309000018': (41.89, -87.71), 'KA1504000159': (41.78, -87.6), 'TA1309000064': (42.04, -87.7), '15624': (41.82, -87.6), '15622': (41.85, -87.61), 'RN-': (42.06, -87.69), 'KA1503000041': (41.96, -87.76), 'KA1504000147': (41.97, -87.73), '13165': (41.89, -87.67), 'KA1504000160': (41.75, -87.62), 'TA1307000120': (41.9, -87.61), 'TA1307000143': (41.96, -87.77), '13398': (41.82, -87.67), 'TA1309000023': (41.87, -87.71), '15668': (41.91, -87.74), '15443': (41.94, -87.81), '13265': (41.95, -87.76), 'KA1504000076': (41.99, -87.69), 'KA1504000104': (41.84, -87.64), 'KA1504000114': (41.93, -87.7), 'E002': (41.91, -87.72), '13216': (41.72, -87.66), '13303': (41.77, -87.63), '13143': (42.0, -87.69), '429': (41.95, -87.73), '662': (41.86, -87.64), 'TA1309000019': (41.73, -87.67), '20246.0': (41.98, -87.72), 'RP-008': (41.97, -87.64), 'KA1503000054': (41.89, -87.68), '13289': (41.84, -87.66), 'TA1306000032': (41.76, -87.56), '15530': (42.0, -87.77), 'chargingstx1': (41.7, -87.69), 'TA1309000008': (41.96, -87.78), '13099': (42.04, -87.7), '13033': (41.94, -87.81), '13056': (41.8, -87.69), '20.0': (41.89, -87.69), '519': (41.97, -87.67), '15645': (41.69, -87.69), 'TA1309000043': (41.84, -87.71), '644': (42.01, -87.69), 'TA1309000033': (41.82, -87.62), '15644': (41.91, -87.76), 'RP-007': (41.83, -87.7), '20257.0': (41.91, -87.69), '13285': (42.07, -87.7), '13431': (41.75, -87.55), 'TA1308000029': (41.96, -87.63), '13249': (41.69, -87.69), '18067': (41.91, -87.74), '13379': (41.89, -87.7), 'TA1309000024': (41.66, -87.55), 'TA1307000144': (41.82, -87.69), '13162': (42.05, -87.67), 'TA1309000041': (41.76, -87.56), 'TA1307000070': (41.84, -87.66), 'TA1309000061': (41.78, -87.58), '13248': (41.98, -87.78), 'TA1307000142': (41.82, -87.61), 'KA1503000053': (41.95, -87.66), 'KA1504000148': (41.88, -87.71), '202480.0': (42.05, -87.69), 'TA1308000002': (41.87, -87.71), '598': (41.79, -87.73), '343': (41.92, -87.72), '599': (41.93, -87.69), 'TA1308000049': (42.05, -87.71), 'KA1504000080': (41.78, -87.69), 'TA1305000005': (42.01, -87.72), 'KA1504000109': (41.86, -87.61), 'KA17018054': (41.78, -87.79), 'KA1503000002': (41.92, -87.7), 'KA1503000015': (42.07, -87.68), '13036': (41.85, -87.66), 'TA1309000001': (42.0, -87.71), 'KA1503000065': (41.91, -87.66), '18069': (41.83, -87.67), '15631': (42.05, -87.67), 'TA1309000066': (41.72, -87.66), 'TA1307000062': (42.05, -87.69), 'KA1503000034': (41.83, -87.6), 'TA1307000150': (42.0, -87.78), '13345': (41.89, -87.7), 'KA1503000025': (41.95, -87.69), '13243': (41.96, -87.74), 'TA1307000061': (41.97, -87.64), 'TA1306000025': (41.76, -87.56), 'TA1307000066': (42.0, -87.72), 'chargingstx3': (41.78, -87.72), 'KA1504000141': (41.96, -87.68), '13058': (41.95, -87.81), '520': (41.93, -87.73), '13331': (41.99, -87.7), '13325': (42.0, -87.65), 'TA1305000035': (41.84, -87.72), 'SL-013': (41.9, -87.65), 'E006': (41.77, -87.64), 'TA1306000003': (41.8, -87.64), '20232': (41.9, -87.7), '358': (41.98, -87.66), '590': (42.06, -87.67), 'TA1305000006': (41.81, -87.7), '13163': (41.78, -87.73), 'TA1309000006': (41.74, -87.71), '15576': (41.73, -87.56), '13139': (41.74, -87.55), 'KA1503000029': (41.88, -87.61), '13001': (41.72, -87.62), '13017': (42.03, -87.69), '13091': (41.96, -87.64), '13245': (41.87, -87.61), '15642': (42.04, -87.68), 'TA1307000121': (41.78, -87.79), '15445': (41.83, -87.61), '525': (41.87, -87.68), 'TA1305000037': (41.77, -87.72), '13150': (42.03, -87.68), '397': (41.93, -87.65), 'TA1307000117': (41.79, -87.79), 'TA1308000035': (41.96, -87.63), 'KA1504000126': (41.92, -87.67), '20252.0': (41.86, -87.68), 'KA1504000135': (41.8, -87.73), '13008': (41.71, -87.62), 'TA1305000009': (41.99, -87.69), 'KA1504000140': (41.66, -87.64), '13138': (42.06, -87.69), '15655': (41.77, -87.58), '445': (41.96, -87.74), '13154': (41.96, -87.74), '655': (41.65, -87.6), 'TA1309000049': (41.97, -87.77), 'TA1306000014': (41.82, -87.7), '13124': (42.07, -87.68), '13053': (41.77, -87.62), '20203': (41.87, -87.61), '13068': (41.81, -87.65), '13132': (41.72, -87.68), 'TA1307000041': (41.95, -87.79), 'TA1309000042': (41.79, -87.73), 'KA1503000032': (41.74, -87.71), 'TA1309000014': (41.94, -87.77), 'SL-006': (41.97, -87.69), 'KA1504000103': (41.79, -87.67), 'KA1504000097': (41.87, -87.76), 'TA1307000113': (41.83, -87.62), '20253.0': (41.77, -87.58), 'TA1307000126': (41.82, -87.61), '13341': (41.85, -87.73), 'TA1309000063': (41.93, -87.77), 'KA1706005007': (41.89, -87.76), '13332': (41.8, -87.69), 'KA1503000071': (41.77, -87.58), 'TA1308000043': (41.82, -87.61), '15470': (41.91, -87.64), 'KA1504000162': (41.79, -87.8), '13193': (42.11, -87.73), 'TA1309000002': (41.85, -87.61), '13229': (41.88, -87.72), '18022': (41.97, -87.67), '549': (41.88, -87.7), 'KA1504000129': (41.8, -87.74), 'TA1307000131': (41.71, -87.62), 'TA1309000015': (41.85, -87.69), '13197': (41.83, -87.65), '506': (41.97, -87.7), 'TA1307000166': (41.89, -87.75), '21544': (41.98, -87.85), 'TA1308000007': (41.89, -87.61), 'TA1307000151': (41.68, -87.66), 'KA1504000078': (42.0, -87.66), '15578': (41.78, -87.79), '436': (41.96, -87.68), '16940': (41.89, -87.63), '13134': (41.96, -87.74), 'KA1504000133': (41.74, -87.72), '13288': (41.96, -87.77), 'KA1503000014': (41.79, -87.68), 'TA1306000011': (42.04, -87.68), '15646': (41.84, -87.66), '13045': (41.72, -87.65), '15446': (41.95, -87.67), '605': (41.79, -87.61), '15575': (41.8, -87.61), '13217': (41.89, -87.75), 'KA1504000171': (41.94, -87.72), 'TA1307000119': (41.77, -87.59), 'RP-005': (41.96, -87.7), '16010': (41.91, -87.73), 'TA1309000050': (42.03, -87.68), '13338': (42.01, -87.79), '13128': (41.96, -87.79), '13326': (41.84, -87.66), 'TA1307000139': (41.95, -87.79), '15640': (41.95, -87.74), 'TA1307000156': (41.89, -87.7), '13191': (41.91, -87.76), 'TA1309000011': (41.76, -87.58), '435': (41.82, -87.61), 'TA1306000007': (41.82, -87.61), '13144': (41.96, -87.76), '13158': (41.67, -87.62), '13037': (41.88, -87.7), 'TA1309000012': (41.85, -87.69), '504': (41.91, -87.62), '13432': (41.83, -87.64), 'LP-': (41.89, -87.7), 'KA1504000130': (41.88, -87.62), 'KA1503000073': (41.96, -87.65), '13137': (41.71, -87.63), '13042': (41.86, -87.72), 'KA1706005015': (41.93, -87.7), 'TA1306000006': (41.89, -87.69), '334.0': (41.96, -87.68), '18058': (41.78, -87.57), 'TA1309000027': (41.84, -87.71), '13011': (41.9, -87.61), 'TA1307000001': (41.8, -87.62), '13146': (42.0, -87.65), 'TA1309000025': (41.85, -87.69), 'KA1503000044': (41.69, -87.69), '431': (41.93, -87.63), 'KA17018068': (42.03, -87.67), 'KA1504000151': (41.67, -87.62), '639': (41.77, -87.64), 'KA1504000090': (41.97, -87.76), 'TA1308000005': (41.83, -87.7), 'KA1503000004': (41.97, -87.7), '13259': (41.96, -87.75), 'TA1308000021': (41.84, -87.62), '13089': (41.94, -87.63), 'KA1504000096': (41.94, -87.76), 'TA1309000053': (41.91, -87.72), 'KA1503000023': (41.91, -87.69), '338': (41.96, -87.69), 'TA1307000005': (41.81, -87.62), 'KA1503000070': (41.97, -87.64), '302': (41.89522317, -87.7482375), 'TA1305000032': (41.69, -87.63), 'TA1308000009': (41.83, -87.7), 'E007': (41.92, -87.79), '13196': (41.88, -87.74), '15546': (42.0, -87.81), '13021': (41.69, -87.66), '13061': (42.07, -87.71), 'KA1503000030': (41.86, -87.61), 'KA1504000101': (41.96, -87.67), '13268': (41.95, -87.73), 'TA1305000025': (41.9, -87.76), '624': (41.79, -87.58), '20254.0': (41.79, -87.8), 'KA1504000146': (41.78, -87.69), '13434': (42.05, -87.67), 'TA1308000046': (41.87, -87.61), 'TA1309000004': (41.98, -87.76), '13179': (42.06, -87.69), 'WL-012': (41.77, -87.8), 'KA1504000143': (41.97, -87.76), 'SL-009': (41.87, -87.67), '13096': (41.9, -87.67), 'TA1305000003': (41.8, -87.73), '13269': (41.98, -87.71), 'TA1309000021': (41.87, -87.61), '638': (41.92, -87.77), 'KA1503000064': (41.98, -87.73), 'KA1504000116': (41.8, -87.63), '15628': (41.91, -87.72), '18003': (42.02, -87.69), '13071': (41.73, -87.69), '15685': (41.9, -87.68), '13034': (41.66, -87.6), '16932': (41.97, -87.78), '527': (41.92, -87.72), '443': (41.91, -87.76), '592': (41.97, -87.65), 'SL-012': (41.74, -87.72), 'KA1503000009': (41.89, -87.62), '13353': (41.69, -87.65), '20251.0': (41.89, -87.67), '15534': (41.88, -87.72), 'KA1504000091': (41.85, -87.62), '13258': (41.96, -87.77), '13016': (41.97, -87.76), 'KA1503000072': (41.91, -87.79), '18016': (41.97, -87.64), 'KA1503000027': (41.68, -87.65), 'KA1503000033': (41.94, -87.68), 'TA1307000140': (41.73, -87.66), '517': (41.84, -87.7), '15491': (41.95, -87.75), 'RP-009': (41.97, -87.87), '564': (41.9352675, -87.77604617), '16921': (41.88, -87.72), '15545': (41.73, -87.74), '595': (41.98, -87.67), '636': (41.68, -87.63), '933': (41.95, -87.64), '342': (41.97, -87.66), '382': (41.9, -87.7), '930': (41.87, -87.66), 'KA1503000021': (42.04, -87.68), 'TA1309000030': (41.83, -87.64), 'TA1307000153': (41.94, -87.68), '425': (41.93, -87.66), 'KA1504000127': (41.77, -87.63), '547': (41.87, -87.67), 'KA1504000142': (41.83, -87.6), '15664': (41.97, -87.72), '13304': (41.81, -87.63), '20205': (41.98, -87.69), '500': (41.87, -87.61), 'KA1503000011': (41.94, -87.65), 'KA1503000059': (41.91, -87.77), 'TA1309000036': (41.81, -87.68), '643': (41.72, -87.62), 'TA1307000158': (41.88, -87.71), 'TA1308000022': (41.82, -87.61), '16994': (41.91, -87.74), 'TA1309000058': (41.82, -87.61), 'TA1308000026': (41.95, -87.69), '13192': (41.84, -87.66), '631': (41.87, -87.69), 'TA1306000009': (41.91, -87.78), 'TA1307000107': (41.98, -87.77), '600': (41.89, -87.68), 'TA1308000031': (41.96, -87.72), 'TA1307000130': (41.9, -87.73), '16991': (41.92, -87.7), '20247.0': (41.96, -87.64), 'KA1503000012': (41.99, -87.77), 'TA1308000012': (41.81, -87.68), '539': (41.84007096, -87.72553158), '658': (41.84, -87.61), 'TA1308000013': (41.76, -87.56), 'KA1503000052': (41.88, -87.72), 'KA1504000117': (41.78, -87.73), '767': (41.95, -87.64), '15689': (41.88, -87.66), '15650': (41.85, -87.68), '15542': (42.04, -87.68), '13221': (41.87, -87.7), '13108': (42.06, -87.71), '400': (41.88, -87.61), '15686': (41.91, -87.69), 'KP1705001026': (41.77, -87.62), '15652': (41.79, -87.58), '18017': (42.0, -87.68), 'TA1305000011': (41.68, -87.68), '444': (41.95, -87.64), '321': (41.89, -87.61), '377': (41.87, -87.61), '654': (41.83, -87.64), '13206': (41.94, -87.72), 'KA1504000158': (41.86, -87.63), '13215': (41.8, -87.63), 'SL-007': (41.99, -87.7), '392': (41.91, -87.62), '13083': (41.98, -87.65), 'chargingstx0': (41.97, -87.76), '379': (41.92, -87.71), '13323': (41.81, -87.73), 'TA1307000064': (41.83, -87.65), 'TA1308000001': (42.07, -87.69), '13136': (41.88, -87.75), '13241': (42.04, -87.68), 'TA1309000039': (41.8, -87.71), 'TA1309000026': (41.79, -87.63), '13213': (41.86, -87.65), 'TA1307000129': (42.0, -87.72), '15648': (41.97, -87.76), '604': (41.97, -87.73), '15634': (41.74, -87.55), '594': (41.85, -87.68), 'KA1504000106': (41.79, -87.69), '323': (41.94, -87.69), '396': (41.79, -87.73), 'TA1307000044': (41.97, -87.71), 'TA1308000006': (41.79, -87.61), 'TA1309000059': (41.85, -87.72), 'SL-011': (41.98, -87.76), 'TA1309000055': (41.74, -87.62), '13271': (41.9, -87.71), '15535': (41.95, -87.81), 'chargingstx5': (41.82, -87.69), 'KA1504000156': (41.99, -87.65), 'KA1503000013': (41.99, -87.65), 'RP-006': (41.96, -87.67), 'TA1305000030': (41.78, -87.69), '13160': (41.8, -87.75), '13389': (41.98, -87.74), '13135': (41.95, -87.78), '13253': (41.98, -87.68), '428': (42.02, -87.68), '13085': (41.82, -87.62), '15615': (41.96, -87.7), '419': (41.91, -87.64), 'KA1503000018': (41.84, -87.61), 'TA1307000134': (41.78, -87.58), 'TA1307000138': (41.97, -87.73), '523': (41.96, -87.64), '15666': (41.97, -87.69), '570': (41.92, -87.64), '13102': (41.85, -87.66), 'E008': (41.92, -87.77), 'TA1306000008': (41.94, -87.78), 'TA1307000048': (41.78, -87.62), 'KA1503000019': (41.96, -87.65), '15654': (41.95, -87.72), '832': (41.91, -87.64), '13290': (41.96, -87.69), '393': (42.01, -87.67), '20256': (41.87, -87.61), 'TA1306000002': (42.11, -87.73), '637': (41.85, -87.67), '13256': (41.88, -87.75), '13084': (41.79, -87.77), '390': (41.98, -87.66), '23003': (42.0, -87.68), 'chargingstx06': (41.99, -87.65), '13164': (42.02, -87.66), 'TA1307000006': (41.95, -87.81), '13292': (41.85, -87.69), '15623': (41.98, -87.79), 'TA1305000017': (41.98, -87.76), 'chargingstx4': (41.9, -87.72), 'KA1504000149': (41.94, -87.74), '855': (41.91, -87.77), 'chargingstx07': (42.0, -87.72), '15653': (41.96, -87.69), '15585': (41.95, -87.7), '23001': (41.88, -87.69), '22001': (42.0, -87.71), '434': (41.94, -87.68), '23002': (41.93, -87.77), '13242': (41.96, -87.63), '361': (41.93446696, -87.73380554), '360': (41.91, -87.68), '320': (42.05, -87.68), '574': (41.9, -87.68), '20246': (41.9, -87.61), '16970': (42.05, -87.67), '318': (41.94, -87.66), '543': (41.95, -87.66), '446': (41.85, -87.73), '464': (41.82, -87.69), 'KA1503000068': (41.97, -87.72), '20256.0': (41.86, -87.67), '810': (41.93, -87.64), '20111': (41.96, -87.64), '385': (41.96, -87.76), '356': (41.92, -87.78), '1021': (41.87, -87.73), '775': (41.88, -87.65), '424': (41.84660383, -87.700205), '426': (41.94, -87.66), '843': (41.98, -87.65), '350': (41.7798375, -87.71790167), '333.0': (41.95, -87.65), '1023': (41.97, -87.64), '653B': (41.85, -87.71), '1228': (41.92, -87.63), '920': (41.69872117, -87.59737003), '1076': (41.93, -87.63), '1225': (41.9728555, -87.73923383), '1271': (41.7439205, -87.6828805)}

In [46]:
lat_lng_dict['KA1503000043']

(41.82, -87.63)

In [47]:
lat_lng_dict['KA1503000043'][1]

-87.63

In [59]:
df['end_lat'] = df['end_station_id'].map(lat_lng_dict).apply(lambda x: x[0] if isinstance(x, tuple) else x).fillna(df['end_lat'])

In [56]:
df['end_lng'] = df['end_station_id'].map(lat_lng_dict).apply(lambda x: x[1] if isinstance(x, tuple) else x).fillna(df['end_lng'])

In [57]:
df

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,classic_bike,2022-07-05 08:12:47,2022-07-05 08:24:32,Ashland Ave & Blackhawk St,13224,Kingsbury St & Kinzie St,KA1503000043,41.907066,-87.667252,41.82,-87.63,member
1,classic_bike,2022-07-26 12:53:38,2022-07-26 12:55:31,Buckingham Fountain,15541,Elizabeth St & Randolph St,623,41.869621,-87.623981,41.90,-87.61,casual
2,classic_bike,2022-07-03 13:58:49,2022-07-03 14:06:32,Buckingham Fountain,15541,Elizabeth St & Randolph St,623,41.869621,-87.623981,41.90,-87.61,casual
3,classic_bike,2022-07-31 17:44:21,2022-07-31 18:42:50,Buckingham Fountain,15541,Elizabeth St & Randolph St,TA1307000164,41.869621,-87.623981,41.83,-87.64,casual
4,classic_bike,2022-07-13 19:49:06,2022-07-13 20:15:24,Elizabeth St & Randolph St,TA1307000117,Sheffield Ave & Wellington Ave,TA1307000052,41.891466,-87.626761,41.75,-87.65,member
...,...,...,...,...,...,...,...,...,...,...,...,...
5779439,classic_bike,30-06-2023 12:58,30-06-2023 13:41,Elizabeth St & Randolph St,TA1305000003,Elizabeth St & Randolph St,13084,41.891847,-87.620580,41.79,-87.77,casual
5779440,electric_bike,29-06-2023 19:56,29-06-2023 20:09,Elizabeth St & Randolph St,TA1305000003,Kedzie Ave & Palmer Ct,13292,41.891970,-87.620198,41.85,-87.69,casual
5779441,electric_bike,25-06-2023 00:27,25-06-2023 00:39,Clark St & Lincoln Ave,13179,Elizabeth St & Randolph St,LF-005,41.915745,-87.634604,41.98,-87.84,casual
5779442,electric_bike,24-06-2023 21:26,24-06-2023 21:28,Elizabeth St & Randolph St,TA1305000003,LaSalle St & Jackson Blvd,TA1309000004,41.891725,-87.620607,41.98,-87.76,casual
5779443,classic_bike,24-06-2023 21:30,25-06-2023 22:30,Elizabeth St & Randolph St,TA1305000003,Elizabeth St & Randolph St,13008,41.891847,-87.620580,41.71,-87.62,casual

In [58]:
df.isnull().sum()

rideable_type         0
started_at            0
ended_at              0
start_station_name    0
start_station_id      0
end_station_name      0
end_station_id        0
start_lat             0
start_lng             0
end_lat               0
end_lng               0
member_casual         0
dtype: int64

Thus all the null values have been imputed

Calculating ride length as end time -start time

In [66]:
df['ended_at'] = pd.to_datetime(df['ended_at']).astype('datetime64')

In [67]:
df['started_at'] = pd.to_datetime(df['started_at']).astype('datetime64')

In [69]:
df['ride_length'] = df['ended_at']- df['started_at']

Checking for day of the week on which a particular ride took place

In [70]:
df['day_of_week'] = df['started_at'].dt.dayofweek + 1 # 1 is added to make sunday as 1

Checking for monthn in which the ride took place

In [71]:
df['month'] = df['started_at'].dt.month

In [72]:
df

,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week,month
0,classic_bike,2022-07-05 08:12:47,2022-07-05 08:24:32,Ashland Ave & Blackhawk St,13224,Kingsbury St & Kinzie St,KA1503000043,41.907066,-87.667252,41.82,-87.63,member,0 days 00:11:45,2,7
1,classic_bike,2022-07-26 12:53:38,2022-07-26 12:55:31,Buckingham Fountain,15541,Elizabeth St & Randolph St,623,41.869621,-87.623981,41.90,-87.61,casual,0 days 00:01:53,2,7
2,classic_bike,2022-07-03 13:58:49,2022-07-03 14:06:32,Buckingham Fountain,15541,Elizabeth St & Randolph St,623,41.869621,-87.623981,41.90,-87.61,casual,0 days 00:07:43,7,7
3,classic_bike,2022-07-31 17:44:21,2022-07-31 18:42:50,Buckingham Fountain,15541,Elizabeth St & Randolph St,TA1307000164,41.869621,-87.623981,41.83,-87.64,casual,0 days 00:58:29,7,7
4,classic_bike,2022-07-13 19:49:06,2022-07-13 20:15:24,Elizabeth St & Randolph St,TA1307000117,Sheffield Ave & Wellington Ave,TA1307000052,41.891466,-87.626761,41.75,-87.65,member,0 days 00:26:18,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5779439,classic_bike,2023-06-30 12:58:00,2023-06-30 13:41:00,Elizabeth St & Randolph St,TA1305000003,Elizabeth St & Randolph St,13084,41.891847,-87.620580,41.79,-87.77,casual,0 days 00:43:00,5,6
5779440,electric_bike,2023-06-29 19:56:00,2023-06-29 20:09:00,Elizabeth St & Randolph St,TA1305000003,Kedzie Ave & Palmer Ct,13292,41.891970,-87.620198,41.85,-87.69,casual,0 days 00:13:00,4,6
5779441,electric_bike,2023-06-25 00:27:00,2023-06-25 00:39:00,Clark St & Lincoln Ave,13179,Elizabeth St & Randolph St,LF-005,41.915745,-87.634604,41.98,-87.84,casual,0 days 00:12:00,7,6
5779442,electric_bike,2023-06-24 21:26:00,2023-06-24 21:28:00,Elizabeth St & Randolph St,TA1305000003,LaSalle St & Jackson Blvd,TA1309000004,41.891725,-87.620607,41.98,-87.76,casual,0 days 00:02:00,6,6
5779443,classic_bike,2023-06-24 21:30:00,2023-06-25 22:30:00,Elizabeth St & Randolph St,TA1305000003,Elizabeth St & Randolph St,13008,41.891847,-87.620580,41.71,-87.62,casual,1 days 01:00:00,6,6

id of stations would not be required now for visualizations. Thus dropping start_station_id and end_station_id

In [76]:
df.drop(['start_station_id','end_station_id'], axis=1, inplace = True)

In [77]:
df

,rideable_type,started_at,ended_at,start_station_name,end_station_name,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length,day_of_week,month
0,classic_bike,2022-07-05 08:12:47,2022-07-05 08:24:32,Ashland Ave & Blackhawk St,Kingsbury St & Kinzie St,41.907066,-87.667252,41.82,-87.63,member,0 days 00:11:45,2,7
1,classic_bike,2022-07-26 12:53:38,2022-07-26 12:55:31,Buckingham Fountain,Elizabeth St & Randolph St,41.869621,-87.623981,41.90,-87.61,casual,0 days 00:01:53,2,7
2,classic_bike,2022-07-03 13:58:49,2022-07-03 14:06:32,Buckingham Fountain,Elizabeth St & Randolph St,41.869621,-87.623981,41.90,-87.61,casual,0 days 00:07:43,7,7
3,classic_bike,2022-07-31 17:44:21,2022-07-31 18:42:50,Buckingham Fountain,Elizabeth St & Randolph St,41.869621,-87.623981,41.83,-87.64,casual,0 days 00:58:29,7,7
4,classic_bike,2022-07-13 19:49:06,2022-07-13 20:15:24,Elizabeth St & Randolph St,Sheffield Ave & Wellington Ave,41.891466,-87.626761,41.75,-87.65,member,0 days 00:26:18,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5779439,classic_bike,2023-06-30 12:58:00,2023-06-30 13:41:00,Elizabeth St & Randolph St,Elizabeth St & Randolph St,41.891847,-87.620580,41.79,-87.77,casual,0 days 00:43:00,5,6
5779440,electric_bike,2023-06-29 19:56:00,2023-06-29 20:09:00,Elizabeth St & Randolph St,Kedzie Ave & Palmer Ct,41.891970,-87.620198,41.85,-87.69,casual,0 days 00:13:00,4,6
5779441,electric_bike,2023-06-25 00:27:00,2023-06-25 00:39:00,Clark St & Lincoln Ave,Elizabeth St & Randolph St,41.915745,-87.634604,41.98,-87.84,casual,0 days 00:12:00,7,6
5779442,electric_bike,2023-06-24 21:26:00,2023-06-24 21:28:00,Elizabeth St & Randolph St,LaSalle St & Jackson Blvd,41.891725,-87.620607,41.98,-87.76,casual,0 days 00:02:00,6,6
5779443,classic_bike,2023-06-24 21:30:00,2023-06-25 22:30:00,Elizabeth St & Randolph St,Elizabeth St & Randolph St,41.891847,-87.620580,41.71,-87.62,casual,1 days 01:00:00,6,6

Saving this df as a csv file

In [78]:
df.to_csv('Combined Cyclist Data')